@import "global";
@import "vars";
@import "fonts";


.header {
   
}


.header__top {
     background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 0 82px;
    height: 109px;
    align-items: center;
}
.header__wrap {
    display: flex;
    
    
}

.header__list {
    display: flex;
}
.header__list-item {
    list-style: none;
}
.header__list-link {
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 28px;
    transition: 0.5s;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        bottom: -20px;
        opacity: 0;
        transition: 0.5s;
    }

    &:hover{
        color: #00FFFF;
    }
}

.header__list-link:hover::before{
    opacity: 1;
    
  
}
.header__box {
    display: flex;
   
}
.header__search {
    margin-right: 32px;
    background-color: #000;
    height: 70px;

    border-radius: 50px;
    padding: 10px;

}
.search-txt {
    border: none;
    background-color: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.5s ;
    line-height: 40px;
    width: 0px;
    background-color: transparent;
}
.search-btn {
    color: #fff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header__search:hover> .search-txt{
    width: 240px;
    padding: 0 6px;
    
}

.header__search:hover> .search-btn{
   background-color: #fff;
   color: #000;
}






.header__bag {
    color: #fff;
    height: 70px;
  
   
    

   
    padding: 20px 10px;
}
.header__bag-link {
    color: #fff;
    margin-right: 5px;
}
.fa-shopping-bag {
}
.header__bag-value {
}
.header__down {
   
}


.header__slider {
    position: relative;
    width: 900px;
    height: 100vh;
    background-position:  center top;
    
    background-size: cover;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.header__info-one {
    max-width: 480px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 28%;
  
    
   
    
}

.header__info-two {
    position: absolute;
    max-width: 500px;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 80px;
    font-weight: 800;
    font-family: "ProximaNova-Extrabld", sans-serif;
   
   
    
  
    
}
.header__info-title--white {
    text-align: left;
    display: inline-block;
    font-size: 80px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase ;
   

}


.header__info-link {
    position: relative;
   
    float: right;
    padding: 19px 33px ;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    font-family: "ProximaNova-Extrabld", sans-serif;
    transition: all 300ms ease;
    &:before{
        position: absolute;
        content: '';
        width: 0%; height: 100%;
        background: #fff;
        top: 0;  
        left: auto; 
        right: 0;
        z-index: -1;
        transition: all 300ms ease;
      }
      
      &:hover{
        color:#000; 
        box-shadow:none;
        z-index: 3;
      
        &:before{
          position: absolute;
          content: '';
          width: 100%; height: 100%;
          background: #fff;
          top: 0; left: 0; right: 0;
          z-index: -1;
        }
      }
    }
.header__info-two {
    max-width: 480px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 25%;
    
    
}
.header__info-title--black {
    
    display: inline-block;
    text-align: left;
    display: inline-block;
    font-size: 80px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase ;
  
  
}


.snowboards {
    padding: 158px 0;
   
}

.snowboards__inner {
}
.snowboards__top {
    text-align: center;
    padding-bottom: 100px;
    position: relative;
}
.snowboards__top-title {
    font-family: "ProximaNova-Extrabld", sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.snowboards__top-subtext {
    text-transform: uppercase;
    font-family: "ProximaNova-Regular", sans-serif;
    font-size: 14px;
}
.close {
    position: absolute;
    left: 49%;
    bottom: 20%;
    &:before,
    &:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 3px;
    background: #000;
}

&:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

&:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

}
.snowboards__contents {
    padding-bottom: 50px;
}
.snowboards__slider {
    margin: 0 90px;
    opacity: 0.2;
    counter-increment: snowboards__slider;
  
  &:before {
   
    display: block;
    text-align: center;
    content: counter(snowboards__slider);
    
    color: transparent;

  }
    
    
}



.snowboards__slider.is-selected {
  opacity: 1;

  }

  .snowboards__wrap-text{
    font-family: "ProximaNova-Semibold", sans-serif;
      text-align: center;
      font-size: 24px;
      text-transform: uppercase;
  }




.about {
    padding: 200px 0;
    position: relative;
    background-position: center right;
    background-size: cover;
    background-image: url(../images/about/bg.jpg);
   
    background-repeat: no-repeat;
}

.about__inner-title {
    font-family: "ProximaNova-Extrabld", sans-serif;
    max-width: 480px;
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 90px;
}

.about__info{
    z-index: 100;
    max-width: 670px;
}
.about__info-text {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 50px;
}
.about__info-subtext {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
}



.features {
    padding: 125px 0;
}

.features__inner {
}
.features__top { 
    text-align: center;
    margin-bottom: 125px;
    position: relative;
}
.features__top-title {
    font-family: "ProximaNova-Extrabld", sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.close-1{
    bottom: -50%;
    position: absolute;
    left: 49%;
    
    &:before,
    &:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 3px;
    background: #000;
}

&:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

&:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
}
.features__items {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    
}
.features__item {
    max-width: 220px;
   padding-bottom: 20px;
   margin: 0 10px;
   
}
.features__item-img {
    margin-bottom: 25px;
}
.features__item-title {
    font-family: "ProximaNova-Semibold", sans-serif;
    font-size: 16px;
    line-height: 30px;
}






.footer {
    background-color: #000;
    padding: 77px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer__products {
    margin-right: 10px;
    margin-bottom: 30px;
}
.footer__products-title {
   
    font-family: "ProximaNova-Extrabld", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer__list {
    padding: 0;
    
   

}
.footer__list-item {
    list-style: none;
    margin-bottom: 20px;
}
 
.footer__list-link {
    color: #c9c9c9;
    text-decoration: none;
    transition: all 0.5s;
    &:hover{
        color: #00FFFF;
    }
   
    
}
.footer__about {
    margin-right: 10px;
    margin-bottom: 30px;
}
.footer__about-title {
    font-family: "ProximaNova-Extrabld", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer__support {
    margin-right: 10px;
    margin-bottom: 30px;
}
.footer__support-title {
    font-family: "ProximaNova-Extrabld", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer__newsletter {
    margin-right: 10px;
    margin-bottom: 30px;
}
.footer__newsletter-title {
    font-family: "ProximaNova-Extrabld", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer__form {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    margin-bottom: 60px;
}
.footer__input {
   
    position: relative;
    width: 220px;
    height: 43px;
    padding: 0 60px 0 15px;
    outline: none;
    border: none;
    font-size: 14px;
    color: #6c6c6c;
}
.footer__btn {
    display: inline-block;
    position: absolute;
    font-family: "ProximaNova-Extrabld", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    border: none; 
    background-color: #c7c7c7;
    padding: 13px 17px;
  
 
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        background-color: #9fc9c9;
    }
}
.footer__messangers {
    display: flex;
    justify-content: space-between;
}
.footer__messangers-link {
    color: #fff;
    font-size: 20px;
  

}

.fa-facebook-f {
    transition: all 0.5s;
    &:hover{
        color: #0000FF;
    }
}
.fa-twitter {
    transition: all 0.5s;
    &:hover{
        color: #00BFFF;
    }
}
.fa-instagram {
    transition: all 0.5s;
    &:hover{
        color: #FF0000;
    }
}
.fa-pinterest-p {
    transition: all 0.5s;
    &:hover{
        color: #DC143C;
    }
}
.fa-youtube {
    transition: all 0.5s;
    &:hover{
        color: #800000;
    }
}


@media (max-width: 1154px){
    .header__search:hover> .search-txt{
        width: 140px;
        padding: 0 6px;
        
    }

}


@media (max-width: 1057px){
    .header__search:hover> .search-txt{
        width: 120px;
        padding: 0 6px;
        
    }

}


@media (max-width: 1041px){
    .header__search:hover> .search-txt{
        width: 120px;
        padding: 0 6px;
        
    }
    .menu-btn {
       
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        
      }
      .menu-btn__burger {
        width: 40px;
        height: 4px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 4px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before {
        transform: translateY(-16px);
      }
      .menu-btn__burger::after {
        transform: translateY(16px);
      }
      .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }
      .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }

      .header__list {
        display: none;
        position: absolute;
        top: 93px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
        background-color: #ffffff;
        bottom: -130px;
        padding: 37px;
        border-bottom: 4px solid #11749e;
       
      }
  
      .header__list-item {
        display: block;
        text-align: center;
        padding: 30px 0;
       
      }
  
      .header__list-link {
        color: #000;
        font-size: 25px;
      }
      .header__search{
       display: none;
        
      }

    .header__bag {
        display: none;
        
    }
    
}

@media (max-width: 748px){
    .header__info-title--white{
        font-size: 60px;
       
    }
    .header__info-title--black{
        font-size: 60px;
       
    }

    .header__info-link{
        align-items: center;
        float: none;
        position: relative;
        right: -10%;
    }
}

@media (max-width: 525px){
    .header__slider{
        background-position:   right;
    }
}


@media (max-width: 511px){

    .header__info-one{
        left: 5%;
       
      
    }

    .header__info-two{
        left: 5%;
       
      
    }
    .header__info-title--white{
        font-size: 40px;
        max-width: 320px;
       
    }
    .header__info-title--black{
        font-size: 40px;
        max-width: 320px;
       
    }

    .header__info-link{
        align-items: center;
        float: none;
        position: relative;
        right: 5%;
    }
    
}

@media (max-width: 512px){
    .features__item{
        margin: 0 auto;
    }
}

@media (max-width: 445px){
    
    .about__inner-title{
        font-size: 30px;
        width: none;
        text-align: center;
    }
}




@media (max-width: 352px){
    .snowboards__top-title{
        font-size: 30px;
    }

    .snowboards__wrap-text{
        font-size: 20px;
    }
}

@media (max-width: 340px){
    .footer__inner{
       justify-content: center;
        text-align: center;
        align-items: center;
        text-align: center;
    }

    
}